/* truong css =============================================================================== */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: montserrat;
    line-height: 1.4;
}

.header {
    position: fixed;
    top: 0;
    z-index: 999;
    /* background-color: whitesmoke; */
}

.header {
    display: flex;
    width: 100%;
    height: 68px;
    background: black;
}

.header__inner {
    display: flex;
    width: 95%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__inner__logo {
    height: 68px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header__inner__logo a {
    height: 68px;
    display: flex;
    align-items: center;
}

.header__inner__logo h1 {
    display: flex;
    align-items: center;
    font-family: montserrat;
    font-size: 32px;
    font-weight: 900;
    color: white;
}

.header__inner__logo span {
    display: flex;
    align-items: center;
    font-family: montserrat;
    font-weight: 200;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.header__inner__logo h1:hover {
    color: goldenrod;
}

/* .header__inner__navigation a{
    color: hsl(0, 100%, 40%);
} */

.header__inner__navigation {
    margin-left: auto;
    color: #000;
}

.header__inner__navigation ul,
.header__inner__try ul {
    display: flex;
    align-items: center;
    height: 68px;
}

.header__inner__navigation li,
.header__inner__try li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.header__inner__navigation__sevice {
    display: flex;
    align-items: center;
    height: 68px;
    position: relative;
    padding: 0 15px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    /* background-color: green; */
}


.header__inner__navigation a:hover {
    color: goldenrod;
}

.header__inner__try {
    display: flex;
    align-items: center;
}

.header__inner__try a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    background-color: goldenrod;
    margin-left: 10px;
}

.header__inner__try a:hover {
    background-color: gold;
    color: black;
}

.header__inner__login {
    min-height: 68px;
    min-width: 68px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    position: relative;
}

ul.header__inner__login__inner{
    background-color: goldenrod;
    min-height: 46px;
    min-width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
li.submenu__login{
    background-color: black;
    min-width: 42px;
    min-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
a.account-avt.account{
    background-color: black;
    min-width: 40px;
    min-height: 40px;
    background-image: url(/img/icon/avatar__ico.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
    border-radius: 50%;
}
/* .account {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 39px;
    min-width: 39px;
    border-radius: 100%; */
    /* background-color: green; */
    /* background-image: url(../img/icon/avatar__ico.jpg); */
    /* background-size: cover;
    background-repeat: no-repeat;
    position: relative; */
    /* bottom: 0.1041665px; */
/* } */

.account:hover {
    opacity: 0.8;
}
ul.submenu__login__content{
    display: none;
}
i.fa-solid.fa-caret-up{
    position: absolute;
    top: 90%;
    right: 23px;
    font-size: 30px;
    color: #222;
}

.status__account {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-width: 238px;
    background-color: #222;
    position: absolute;
    top: 115%;
    right: 0;
    padding: 10px 0;
}

.status {
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 0 10px;
    height: 30px;
    font-family: montserrat;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    /* border-top: 0.1px whitesmoke solid; */
}
/* a.loginstatus.status{
    font-size: 15px;
} */
.status:hover {
    cursor: pointer;
    color: white;
    /* border-radius: 10px; */
    border: 1px rgba(255, 255, 255, 0.2) solid;
}

.submenu__login:focus-within ul.submenu__login__content{
    display: flex;
}

.containt {
    display: none;
    background-color: black;
    z-index: 999;
}

.containt a {
    height: 68px;
    width: 200px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 0 15px;
    border-top: 1px solid rgb(0 0 0 / 10%);
}

.dropdown .containt {
    position: absolute;
    opacity: 0;
    box-shadow: 0 8px 16px rgb(0, 0, 0.1);
}

.dropdown:hover .containt {
    display: block;
    animation: fadeOut 0.3s ease-in-out forwards;
}

.dropdown:focus-within .containt {
    display: block;
    animation: fadeOut 0.3s ease-in-out forwards;
}

.containt a:hover {
    background-color: #111;
}

/* ==================== MEDIA ==================== */
@media (max-width: 1000px) {
    .header__inner {
        width: 100%;
        max-width: 1000px;
    }

    .header__inner__navigation {
        display: none;
    }

    .header__inner__try {
        display: none;
    }

    .header__inner__login {
        display: none;
    }

    .header__inner__menu {
        display: flex;
    }

    .header__inner {
        width: 100%;
        max-width: 1000px;
    }

}

.dropdown i {
    margin-left: 2px;
    scale: 0.6;
}

.dropdown:hover .bx {
    animation: quayxuong 0.3s forwards;
    color: goldenrod;
}

.header__inner__navigation span {
    color: goldenrod;
}

/*  ĐÂY LÀ PHẦN MENU ===================================================================================*/


.header__inner__menu {
    position: relative;
    display: none;
}

.header__inner__menu__bt {
    height: 68px;
    width: 70px;
    position: relative;
    display: flex;
}

.header__inner__menu__bt i {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 30px;
    color: white;
}

.nen_mo {
    display: none;
    z-index: 9;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.500);
}




.bt_dropdown {
    display: flex;
    position: relative;
}



.content {
    display: none;
    position: fixed;
    flex-direction: column;
    /* justify-content: space-between; */
    top: 0;
    /* opacity: 0; */
    /* left: -300px; */
    /* right: calc(100vw - 300px); */
    width: 250px;
    height: 100vh;
    background-color: black;
    /* background-image: url(../img/promotion/dark-black-stone-texture-background-free-photo.jpg);
    background-size: cover;
    background-origin: content-box;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll; */
    /* top: 165px; */
    /* top: 100%;
    right: 0;
    margin-right: 60px; */
    /* box-shadow: 10px 10px 0px 1000px rgba(0, 0, 0, 0.400); */
}

.noidung__text1 {
    font-family: montserrat;
    display: flex;
    align-items: center;
    position: relative;
    top: 0.4px;
}
.noidung__text1:hover{
    cursor: pointer;
}
.content__inner {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    /* background-color: black; */
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}

.content .bx {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 15px;
    font-size: 16px;
}
.content .bxf {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 15px;
    font-size: 15px;
}


.content__inner:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* font-weight: 700; */
}

b.content__inner:hover{
    background-color: rgba(255, 255, 255, 0.1);
}


.content__logout{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
}

.content__logout__btn{
    display: none;
}

.logo {
    height: 68px;
    width: 300px;
    display: flex;
    align-items: center;
    align-content: center;
}

.account__login__center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 47px;
    background-color: goldenrod;
    border-radius: 100%;
    margin-left: 10px;
}

.account__login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    width: 43px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
}

.account__login__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    width: 39px;
    /* background-color: rgb(0, 110, 255); */
    background-image: url(../img/icon/avatar__ico.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.account__login__inner:hover {
    opacity: 0.8;
}

.account__about {
    height: 68px;
    max-width: 245px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.account__name {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: -10px;
    height: 68px;
    /* width: 130px; */
    font-family: montserrat;
    font-size: 14px;
    font-weight: 600;
    color: whitesmoke;
}

.account__name:hover {
    opacity: 0.8;
}

.account__code {
    display: flex;
    align-items: center;
    padding-left: 10.5px;
    margin-top: -20px;
    font-family: montserrat;
    font-size: 12px;
    color: #dadada;
}

/* SUBMENU TRONG MENUMOBILE ============================================================================= */

.submenu {
    align-items: center;
}
.submenu b{
    margin-left: 0px;
}
.submenu b:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.noidung222 {
    display: none;
    flex-direction: column;
    /* background-color: #111; */
}

.noidung222 a {
    font-family: montserrat;
    padding-left: 47px;
    /* background-color: #111; */
}

.noidung222 a:hover {
    /* color: goldenrod; */
}

/* ===================================== */