body{
    background-color: white;
}
.header{
    height: 56px;
    width: 100%;
    background-color: black;
}
/* .container{
    
} */

.container__home{
    width: 100%;
    height: 650px;
    background-color: darkmagenta;
}
.container__service{
    width: 100%;
    height: 650px;
    background-color: cornflowerblue;
}
.container__shop{
    width: 100%;
    height: 650px;
 background-color: coral;
}
.footer{
    height: 340px;
    width: 100%;
    background-color: aquamarine;
}