.container__home {
    z-index: 9;
    display: flex;
    justify-content: flex-start;
    background-image: url(../img/background/banner10.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: relative;
    border-bottom: .1px solid rgba(124, 136, 136, 0.4);
    box-shadow: 0px 26px 26px 22px rgba(59, 59, 59, 1);
    height: 100vh;
}

@media (max-width: 2000px) {
    

    .home__about {
        margin-left: 10%;
    }
    .home__about__title{
        font-size: 4rem;
        line-height: 4rem;
    }
}
@media (max-width: 890px) {
    .container__home {
        background-position: calc(100% + 320px) center;
    }
    .home__about {
        margin-left: 7%;
    }
}


@media (max-width: 480px) {
    .container__home {
        background-position: calc(100% + 220px) center;
        justify-content: flex-start;
    }
    .home__about {
        margin-left: 4%;
    }
    .home__about__title{
        font-size: 3.6rem;
        line-height: 4rem;
        font-weight: 700;
    }

}

@media (max-width: 360px) {
    .container__home {
        background-position: calc(100% + 260px) center;
        justify-content: flex-start;
    }

}



.home__about {
    display: flex;

    flex-direction: column;
    height: 400px;
    /* max-width: 180px; */
    margin-top: 26vh;
    margin-right: 4px;
}
/* 
.home__about__list{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home__about__list__item{
    display: flex;
    align-items: flex-end;
    font-size: 2rem;
}

.home__about__icon__link{
}
.home__about__icon__link i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #fff;
    background-color: rgba(33, 33, 33, 0.9);
    border-radius: 4px;
}

.home__about__icon__link i:hover{
    background-color: rgba(14, 14, 14, 0.9);
    
}

.home__about__icon__text{
    margin-left: 12px;
    padding: 8px 4px;
    font-weight: 700;
    line-height: 2.4rem;
    background-color: rgba(33, 33, 33, 0.2);
    position: relative;
    border: 1px solid #4d4d4d;
    border-radius: 4px;
}

.home__about__icon__text::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border: 8px solid;
    border-color: transparent transparent aqua aqua;
}


 */


.home__about__head{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/background/section-title.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: max-content;
    margin-bottom: 8px;
    /* margin-left: 32px; */
}

.home__about__head__text{
    margin-top: 1px;
    padding: 4px 32px;
    width: max-content;
}

.home__about__title{
    /* font-size: 4rem; */
    font-weight: 700;
    line-height: 4.2rem;
    max-width: 420px;
    margin: 18px 0 22px;
}

.home__about__text{
    font-size: 1.2rem;
    max-width: 360px;
}

.home__about__btn{
    position: relative;
    margin-top: 52px;
    width: max-content;
}

.home__about__btn__child{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 188px;
    background-color: #ff0436;
    font-size: 1.8rem;
    padding-top: 4px;
    z-index: 3;
    cursor: pointer;
    outline: none;
    border: 0px;
}

.home__about__btn::before{
    position: absolute;
    top: -20px;
    left: 20px;
    display: block;
    content: "";
    height: 50px;
    width: 186px;
    border: 1px solid #d1d1d1;
    z-index: 1;
    animation: btn12 .4s ease-in-out forwards;
    transition: all 1s ease-in-out;
}

.home__about__btn:hover::before {
    animation: btn21 .6s ease-in-out forwards;
}


@keyframes btn21{
    0%{
        top: -20px;
        left: 20px;
    }
    40%{
        border-color: #d1d1d1;
    }
    100%{
        top: 0px;
        left: 0px;
        border-color: #ff0436;
    }
}
@keyframes btn12{
    from{
        top: 0px;
        left: 0px;
    }
    to{
        top: -20px;
        left: 20px;
        border-color: #d1d1d1;
    }
}


/* container__caculatorBMI */
.container__caculatorBMI{
    display: flex;
    max-width: 60vw;
    flex-wrap: wrap;
}

.container__caculatorBMI__left{
    /* flex: 2; */
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.container__caculatorBMI__text{
    font-size: 3.6rem;
    line-height: 4rem;
    width: 360px;
}

.container__caculatorBMI__right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex: 1;
}

/* .container__caculatorBMI__right:not(:first-child){
    margin-left: 12px;
} */

.container__caculatorBMI__input{
    height: 45px;
    border: 0px;
    outline: none;
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        margin-right: 16px;
        width: 116px;
        color: #fff;
    background-color: #3d3d3d;
}

.container__caculatorBMI__btn{
    height: 45px;
    border: 0px;
    outline: none;
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        min-width: 146px;
    background-color: #ff0436;
}

.container__caculatorBMI::before {
    content: "";
    height: 100%;
    width: 135%;
    background-color: #1f1f1f;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    clip-path: polygon(0 0,100% 0,90% 100%,0% 100%);
}