* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Overpass;
}

/* html {
    font-size: 100%;
    line-height: normal;
} */

.header {
    position: fixed;
    top: 0;
    z-index: 999;
}

.header {
    display: flex;
    width: 100%;
    height: 68px;
    background: black;
}

.header__inner {
    display: flex;
    width: 95%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* background: green; */
}

.header__inner__logo {
    display: block;
    cursor: pointer;
}

.header__inner__logo a {
    height: 100%;
    width: 100%;
}

.header__inner__logo h1 {
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 32px;
    margin-left: 10px;
}

.header__inner__logo span {
    font-weight: 100;
    margin-left: 5px;
}

.header__inner__navigation {
    margin-left: auto;
    color: #000;
}

.header__inner__navigation ul,
.header__inner__try ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner__navigation li,
.header__inner__try li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.header__inner__navigation a,
.header__inner__try a {
    padding: 15px 15px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.header__inner__navigation a:hover {
    color: goldenrod;
}

.header__inner__try a {
    background-color: goldenrod;
    margin-left: 10px;
    border: 1px black solid;
}

.header__inner__try a:hover {
    background-color: gold;
    border: 1px white solid;
    color: black;
}

.header__inner__logo h1:hover {
    color: goldenrod;
}

.dropdown a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 15px;
    position: relative;
}

.containt {
    display: none;
}

.containt a {

    padding: 20px 15px;
    background-color: black;
}

.dropdown .containt {
    /* display: flex; */
    /* align-items: center; */

    position: absolute;
    /* top: 100%; */
    opacity: 0;
    box-shadow: 0 8px 16px rgb(0, 0, 0.1);
}

.dropdown:hover .containt {
    display: block;
    animation: fadeOut 0.4s ease-in-out forwards;
}

.containt a:hover {
    background-color: rgb(22, 22, 22);
}

/* ==================== MENU ==================== */

.header__inner__menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    position: relative;
}

.menuroi__link i {
    font-size: 24px;
    /* scale: 2; */
    color: white;
}

/* ==================== ANIMATION ==================== */
@keyframes hienlen {
    from {
        top: 120%;
        opacity: 0;
    }

    to {
        top: 100%;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        top: 50%;
        opacity: 0;
        scale: 0.8;
    }

    to {
        top: 100%;
        opacity: 1;
        scale: 1;
    }
}

@keyframes quayxuong {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

@keyframes side_right {
    0% {
        opacity: 0;
        left: -300px;
        /* right: calc(100vw); */
    }

    30% {
        opacity: 1;
    }

    100% {
        left: 0;
        opacity: 1;
        /* right: calc(100vw - 300px); */
        /* box-shadow: 10px 10px 1000px 1000px rgba(0, 0, 0, 0.400); */
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ==================== MEDIA ==================== */
@media screen and (max-width: 1000px) {
    .header__inner {
        width: 100%;
        max-width: 1000px;
    }

    .header__inner__navigation {
        display: none;
    }

    .header__inner__try {
        display: none;
    }

    .header__inner__menu {
        display: flex;
    }
}

/* ==================== ====== ==================== */

.dropdown i {
    margin-left: 2px;
    scale: 0.6;
}

.dropdown:hover .bx {
    animation: quayxuong 0.3s forwards;
    color: goldenrod;
}

.header__inner__navigation span {
    color: goldenrod;
}

/* ================================================================================================== ĐÂY LÀ PHẦN MENU */

.nen_mo {
    display: none;
    z-index: 9;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.400);
}




.menuroi {
    display: flex;
    position: relative;
}




.noidung a {
    display: flex;
    align-items: center;
    /* height: 68px; */
    padding: 26px 12px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}

.noidung__text{
    padding-top: 8px;
    font-size: 18px;
}
.menuroi__link{
    position: relative;
    padding: 23.96px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 128, 0, 0.158); */
}
.noidung {
    display: none;
    position: fixed;
    top: 0;
    left: -300px;
    /* right: calc(100vw - 300px); */
    width: 300px;
    opacity: 0;
    height: 100vh;
    background-color: black;
    /* top: 165px; */
    /* top: 100%;
    right: 0;
    margin-right: 60px; */
    /* box-shadow: 10px 10px 0px 1000px rgba(0, 0, 0, 0.400); */

}



.noidung i {
    margin-right: 30px;
    margin-left: 20px;
    scale: 2;
}


.noidung a:hover {
    background-color: #222;
}


/* .header{
    background-color: goldenrod;
} */

/* .logo{
    width: 100%;
    height: 67.8px;
}
.logo img{
    height: 100%;
    width: 100%;
    padding: 0;
} */

/* .header{
    background-color: green;
} */
.logo a {
    height: 68px;
    padding: 12.5px 10px;
    font-size: 32px;
    font-family: montserrat;
    font-weight: 900;
    background-color: black;
    cursor: pointer;
}

.logo a:hover {
    background-color: rgba(0, 0, 0, 0.400);
}

.logo span {
    top: 3px;
    position: relative;
    font-weight: 100;
    margin-left: 5px;
}