.container__service{
    margin-top: 50px;
    background: linear-gradient(#212121d1, #212121d1),
    url("https://img4.thuthuatphanmem.vn/uploads/2021/01/07/background-phong-tap-gym_035832535.jpg");
    color: white;
    background-size: cover;
    position: relative;
    text-align: center;
}
.container__service__title{
    width: 100%;
    padding-top: 30px;
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
}
.container__service__title:hover{
    color: pink;
}
.container__service__uses{
    /* width: ; */
    line-height: 20px;
    font-size: 15px;
    max-width:500px;
    font-weight: normal;
    margin: 0px 3px;
    margin-bottom: 30px;
    text-align: center;
}
.container__service__img{
    width: 100%;
    height: 100%;
    /* display: inline-block; */
    margin-bottom: 50px;
    flex-wrap: wrap;
    text-align: center;
    
 }

.container__service__img .items{
    display: inline-block;
    background: #fff;
    padding: 20px;
    border: 1px solid #efdddd;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.container__service__img img{
    width: 200px;
    height: 150px;
    
}
.container__service__img p{
    color: black;
    margin-top: 10px;
}