.body{
    font-family: 'Overpass';
}
.footer{

    padding-top: 35px;
    /* height: 340px; */
    width: 100%;
    background-color: #000000;
    /* margin-left: 160px;
    max-width: 1230px; */
    /* text-align: center; */
}


.grid__row{
    display: flex;
    /* flex-direction: column; */
}

*{
    color: aliceblue;
}
.grid__column-4{
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
    /* width: 25%; */
    margin: 0 20px;
}
.footer__heading{
    line-height: 24px;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.footer-list{
    padding-left: 0px;
    list-style: none;
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #aa9696;
    padding: 5px 0;
    display: block;
}
.footer-item__link:hover{
    color: white;
}
.footer-item__icon{
    font-size: 1.6rem;
    margin-right: 6px;
}
.footer-list-1{
    display: flex;
}


.grid__column-4:last-child ul{
    display: flex;
    justify-content: center;
    width: 126px;
}