* {
    font-family: montserrat;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.header {
    background-color: rgb(255, 255, 255);
    height: 68px;
    border-bottom: 1px rgb(0, 0, 0, 0.3) solid;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.header__inner__logo h1,
.header__inner__navigation a {
    color: black;
}

.header__inner__menu__bt i {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: black !important;
}

.dropdown .containt {
    background-color: rgb(255, 255, 255);
    box-shadow: none;
}

.container {
    height: calc(100vh) !important;
    height: 100svh;
    margin-top: unset;
    display: flex;
}

.container__box {
    width: 100%;
    height: 100vh;
    height: 100svh;
    display: flex;
    background-color: rgb(243, 244, 245);
    position: relative;
    overflow: hidden;
}

.navbar::-webkit-scrollbar {
    display: none;
}

.navbar {
    display: none;
    position: absolute;
    left: 0;
    width: 320px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    min-width: 320px;
    z-index: 5;
    /* box-shadow: 0 0 1000em 1000em rgba(0, 0, 0, 0.5); */
    /* overflow: auto; */
    /* animation: fly-out-left .5s ease-in-out forwards; */
}

.nav-menu {
    height: calc(100vh - 68px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
}

.nav-menu::-webkit-scrollbar {
    display: none;
}

.nav-item {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.nav-item.active {
    background-color: #ECF3FF;
}

.nav-item.active:hover {
    background-color: #ECF3FF !important;
    cursor: unset;
}

.nav-item:hover {
    background-color: rgb(245, 245, 245);
}

/* .nav-item:active{
    background-color: rgb(230, 230, 230);
} */
.nav-item-last {
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.nav-item-last .nav-item {
    margin-bottom: 5px;
}

.nav-admin-ifm {
    margin: 0;
    display: flex;
    align-items: center;
    height: 70px;
}

.nav-admin-ifm-avt {
    height: 36px;
    width: 36px;
    flex-shrink: 0;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #0866FF;
}

.nav-admin-ifm-name {
    margin-left: 10px;
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.nav-close {
    height: 70px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-close-bt {
    background-color: rgb(230, 230, 230);
    border: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    flex-shrink: 0;
    color: #0866FF;
    cursor: pointer;
    transition: .2s;
}

.nav-close-bt:hover {
    background-color: rgb(221, 221, 221);
}

.nav-close-bt:active {
    background-color: rgb(180, 180, 180);
}

.nav-close-bt-icon {
    font-size: 16px;
}

.nav-item-icon {
    font-size: 20px;
    padding: 8px;
    color: #0866FF;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    margin: 0 10px 0 0;
}

.shadow {
    /* display: flex; */
    display: none;
    /* content: ''; */
    position: absolute;
    top: 0;
    /* right: calc(-100vw); */
    width: 100vw;
    height: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
}

.msgr-box-right {
    height: 100%;
    width: calc(100vw - 320px);
}

@keyframes shadow-in {
    0% {
        /* background-color: transparent; */
        opacity: 0;
    }

    100% {
        /* background-color: rgba(0, 0, 0, 0.5); */
        opacity: 1;
    }
}

@keyframes shadow-out {
    0% {
        /* background-color: rgba(0, 0, 0, 0.5); */
        opacity: 1;
    }

    100% {
        /* background-color: transparent; */
        opacity: 0;
    }
}

@keyframes fly-in-left {
    0% {
        margin-left: -320px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes fly-out-left {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -320px;
    }
}



/* .container__bar__logout .nav-item {
    display: none;
}

.container__bar__item--active {
    background-color: rgb(230, 230, 230);
}
.container__bar__item--active:hover{
    background-color: rgb(230, 230, 230);
}

.nav-item i {
    color: #3578E5;
    font-size: 14px;
    background-color: rgb(215, 215, 215);
    padding: 8px;
    margin-right: 10px;
    border-radius: 6px;
}

.container__bar__item__text {
    text-align: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.container__bar__item--avt {
    margin: 0;
    height: 70px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.container__bar__item__avt {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #0866FF;
    padding: 2px;
    margin-right: 8px;
}

.container__bar__item__name {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.container__bar__options {
    color: #3578E5;
    cursor: pointer;
    width: 30px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-hide-button {
    border: none;
    background-color: transparent;
}

.container__bar__options i {
    margin: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50rem;
    font-size: 18px;
    cursor: pointer;
    transition: .2s;
}

.container__bar__options i:hover {
    background-color: rgb(230, 230, 230);
}

.container__bar__logout {
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin-bottom: 8px;
} */


/* container__show */
.container__show {
    /* flex: 12; */
    width: calc(100vw);
    height: 100vh;
    height: 100svh;
    color: black;

}

.container__show__message {
    height: 100%;
}

/* container__show__head */
.container__show__account,
.container__show__card,
.container__show__calendar {
    color: black;
    background-color: transparent;
    overflow: hidden;
    padding: 0 8px;
}

.container-select {
    overflow: auto;


}

.container__show__add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.list-message-box {
    /* flex: 2; */
    /* max-width: 245px; */
    height: 100%;
    width: 320px;
    min-width: 245px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0);
    border-left: 1px rgba(0, 0, 0, 0.3) solid;
}

.box-title {
    font-size: 2vh;
    font-size: 2svh;
    font-size: 16px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-open,
.sub-middle,
.first-item {
    content: '';
    width: 35px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-middle {
    opacity: 0;
}

.first-item {
    display: none;
}

.nav-open-bt,
.slide-right,
.slide-left {
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 50rem;
    transition: .2s;
    cursor: pointer;
    /* transform: rotate(45deg); */
}

.nav-open-bt:hover {
    background-color: rgb(230, 230, 230);
}

.nav-open-bt:active {
    background-color: rgb(190, 190, 190);
}

.slide-right:hover {
    background-color: rgb(230, 230, 230);
}

.slide-left:hover {
    background-color: rgb(230, 230, 230);
}

.slide-right:active {
    background-color: rgb(190, 190, 190);
}

.slide-left:active {
    background-color: rgb(190, 190, 190);
}

.slide-right {
    opacity: 0;
}

.title-row {
    /* font-size: 22px; */
    line-height: 30px;
    padding: 20px 2px;
    font-weight: bold;
    text-align: center;
}

.msgr {
    height: 100vh;
    height: 100svh;
    width: 100vw;
    display: flex;
}

.msgr-box {
    height: 100%;
    width: 100%;
    display: flex;
}

.msgr-box-left {
    height: 100%;
    min-width: 320px;
    padding: 8px;
}

.msgr-box-search {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 10px 0;
}

.msgr-search-exit {
    display: none;
    font-size: 16px;
    padding: 5px;
    border-radius: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.msgr-search-exit:hover {
    background-color: rgb(245, 245, 245);
}

.msgr-search-exit:active {
    background-color: rgb(199, 199, 199);
}

.msgr-search-input {
    height: 27px;
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgb(230, 230, 230);
    position: relative;
    padding: 5px 8px;
    border-radius: 20px;
}

.msgr-search-input-icon {
    padding-right: 5px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.msgr-search-input-text {
    height: fit-content;
    display: flex;
    flex: 1;
    background-color: transparent !important;
    border: unset;
    outline: unset;
    color: black;
}

.msgr-search-input-text::placeholder {
    color: rgb(31, 31, 31);
    background-color: transparent;
}
.msg-list {
    height: calc(100vh - 68px - 125px);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.msg-box {
    display: flex;
    flex-direction: column;
}

.msg-box:hover .more-option {
    display: flex;
}

.msg-box.active {
    display: flex;
    flex-direction: column;
    background-color: #ECF3FF;
    border-radius: 10px;
}

.msg-box.active:hover {
    background-color: #ECF3FF;
}

.box-top {
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.user-box {
    height: fit-content;
    display: flex;
    align-items: center;
    flex: 1;
}

.user-avt {
    height: fit-content;
    width: fit-content;
    margin-right: 10px;
}

.user-avt img {
    height: 45px;
    width: 45px;
    display: flex;
    flex-shrink: 0;
    padding: 2px;
    border: 2px solid #0866FF;
    border-radius: 50%;
}

.user-ifm {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
}

.user-ifm-name {
    font-weight: 500;
    font-size: 14px;
}

.user-ifm-card {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.8);
}

.user-ifm-card-number {
    margin-left: 5px;
}

.more-option {
    width: 30px;
    height: 45px;
    display: none;
    align-items: center;
    justify-content: center;
}

.more-option-bt {
    width: 28px;
    height: 28px;
    border: unset;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: .2s;
    cursor: pointer;
}

.more-option-bt:hover {
    background-color: rgb(235, 235, 235);
}

.more-option-bt:active {
    background-color: rgb(220, 220, 220);
}

.more-option-bt-icon {
    font-size: 16px;
}

.box-bot {
    height: fit-content;
    padding: 8px;
    font-size: 14px;
    display: none;
    align-items: center;
    flex: 1;
    transition: .2s;
}

.bot-bar-menu {
    height: fit-content;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.bot-bar-item {
    display: flex;
    align-items: center;
    color: red;
    border-radius: 12px;
}

.bot-bar-item:hover {
    background-color: rgb(235, 235, 235);
}

.bot-bar-item:active {
    background-color: rgb(220, 220, 220);
}

.bot-bar-item-text {
    display: flex;
    align-items: center;
    color: red;
    padding: 8px;
}

.bot-bar-item-icon {
    margin-left: 5px;
    margin-bottom: 1px;
}

/* .list-message-box-search {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

div.list-message-box-search>i {
    display: none;
    cursor: pointer;
}

.list-message-box-find {
    display: flex;
    align-items: center;
    border: 1px solid #333;
    border: none;
    background-color: rgb(242, 243, 245);
    border-radius: 50rem;
    overflow: hidden;
    width: 100%;
}

.list-message-box-search i {
    font-size: 1.4rem;
    padding: 0 8px;
    color: #666;
}

.list-message-box-find input {
    width: 100%;
    font-size: 1.4rem;
    height: 100%;
    padding: 8px 0 7px;
    outline: none;
    border: 0;
    font-size: 14px;
    background-color: transparent;
}

.msg-list {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 68px - 78px - 53px);
    overflow: auto;
}

.msg-list::-webkit-scrollbar {
    display: none;
}

.message-user {
    position: relative;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
} */

/* .message__user--active{
    margin-left: -300px;
} */
/* li.message__user.message__user--active1 {
    background-color: #ecf3ff;
}

li.message__user.message__user--active1:hover {
    background-color: #ecf3ff !important;
}

li.message__user.message__user:hover {
    background-color: #F2F3F5;
}

li.message__user.message__user:hover .message__user__name__options {
    display: flex;
} */

/* .msg-user-box {
    display: flex;
    align-items: center;
    padding: 5px;
    animation: fade-out .2s ease-in-out;
} */

@keyframes fade-out {
    0% {
        background-color: #F2F3F5;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes fade-in {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: #F2F3F5;
    }
}

/* .message__user__box__top {
    display: flex;
    align-items: center;
}

.message__user__box img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.message__user__box__right {
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    flex: 1;
    color: black;
    margin-left: 5px;
} */

/* .message__user__box:hover{
    animation: fade-in .3s ease-in-out forwards;
} */

/* .message__user__name {
    font-size: 14px;
    font-weight: bold;
}

.message__user__msg {
    height: 20px;
    overflow: hidden;
    display: flex;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.6);
}

.message__user__msg__obj {
    margin-right: 2px;
}

.more-option {
    width: 35px;
    height: 48px;
    margin-left: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message__user__name__options {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 1px rgba(0, 0, 0, 0.05) solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.message__user__name__options:hover {
    background-color: rgb(230, 230, 230);
}

.message__user__box__affter:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 0 0 10px 10px;
}

.message__user__box__affter {
    display: none;
    height: 30px;
    width: 100%;
    background-color: transparent;
} */

@keyframes showtrash {
    0% {
        padding: 0;
        height: 0;
        opacity: 0;
        /* border-top: 0px rgba(0, 0, 0, 0.05) solid; */
    }

    100% {
        padding: 8px;
        height: 53px;
        opacity: 1;
        /* border-top: 1px rgba(0, 0, 0, 0.05) solid; */
    }
}

@keyframes hidetrash {
    0% {
        height: 53px;
        opacity: 1;
        /* border-top: 1px rgba(0, 0, 0, 0.05) solid; */
    }

    100% {
        height: 0;
        opacity: 0;
        /* border-top: 0px rgba(0, 0, 0, 0.05) solid; */
    }
}

/* .message__user__box__affter__list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    opacity: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
} */

@keyframes showlist {
    0% {
        margin-right: 20px;
        opacity: 0;
    }

    100% {
        margin-right: 0;
        opacity: 1;
    }
}

@keyframes hidelist {
    0% {
        margin-right: 0;
        opacity: 1;
    }

    100% {
        margin-right: 20px;
        opacity: 0;
    }
}

/* .message__user__box__affter__item {
    height: 30px;
    width: fit-content;
    background-color: transparent;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    color: red;
    padding: 0 10px;
} */

@keyframes side-to-left {
    0% {
        margin-left: 0;
        height: 92px;
        opacity: 1;
    }

    100% {
        margin-left: -320px;
        height: 92px;
        opacity: 0;
    }
}

@keyframes de-height {
    0% {
        margin-left: -320px;
        height: 92px;
        opacity: 0;
    }

    100% {
        margin-left: -320px;
        height: 0;
        opacity: 0;
    }
}

/* .message__user__box__affter__item span {
    margin-left: 5px;
} */

/* .message__user__box__affter__item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f88900;
    min-width: 122px;
    font-size: 14px;
    padding: 8px 6px 6px;
} */



.chatbox {
    width: 100%;
    /* box-shadow: none;
    background-color: rgb(255, 255, 255); */
    border: none;
    border-left: 1px rgba(0, 0, 0, 0.05) solid;
    /* border-right: 1px rgba(0, 0, 0, 0.05) solid; */
}

/* .chatbox__head {
    background-color: white;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    color: black;
    height: 70px;
    padding: 0;
    padding: 5px;
    margin-top: 8px;
    box-shadow: unset;
} */

/* .user-img {
    display: flex;
    height: 64px;
    width: 64px;
    padding: 5px;
}

.user-img img {
    border-radius: 50rem;
    margin: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
} */

/* .user-ifm {
    height: 54px;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    justify-content: center;
}

.chatbox__head__title {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    height: fit-content;
}

.chatbox__head__active {
    height: fit-content;
    margin: 0;
} */

/* .chatbox__head__active::before {
    margin: 0;
    position: absolute;
    left: -22px;
    bottom: 3px;
    height: 10px;
    width: 10px;
    border: 2px white solid;
} */

/* .chatbox__head__active__text {
    margin: 0;
    font-size: 11px;
} */



.chatbox__message__item__text {
    background-color: rgb(80, 80, 80);
    color: white;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    font-size: 14px;
    padding: 6px 13px;
}

.chatbox__message__item__right span {
    color: black;
    background-color: rgb(230, 230, 230);
    border: none;
    box-shadow: none;
}

.chatbox__bottom {
    background-color: rgb(255, 255, 255);
    box-shadow: none;
}

.container___input {
    display: flex;
    justify-content: space-between;
    margin: 22px 0;
}


/* input  */
.container___input__left {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.container___input__left input,
.container___input__left select {
    margin-right: 4px;
}

.container___input__left input,
.container___input__left select,
.container___input__left button {
    height: 32px;
    border-radius: 4px;
}

.container__show__head__input__box {
    display: flex;
    width: 100%;
    max-width: 204px;
    background-color: rgb(223, 223, 223);
    margin-right: 4px;
    border-radius: 4px;

}

.show__input__id {
    font-size: 12px;
    outline: none;
    border: 0px;
    background-color: rgb(223, 223, 223);
    color: rgba(0, 0, 0);
    width: 100%;
    max-width: 202px;
    padding: 8px;
}

.container__show__head__input__box .show__input__id {
    margin: 0;
}

.show__input__package {
    border: unset;
    outline: unset;
    background-color: rgb(223, 223, 223);
    font-size: 12px;
    text-align: center;
}

.show__input__date,
.show__input__type {
    height: auto;
    border: unset;
    outline: unset;
    background-color: rgb(223, 223, 223);
    font-weight: 500;
    text-align: center;
    padding: 0 4px;
}



.exit--search {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    max-width: 22px;
    padding: 2px 12px;
    font-size: 12px;
    background-color: rgb(223, 223, 223);
    animation: expand 2s linear forwards;
}
.exit--search:hover {
    background-color: rgb(195, 195, 195);
}

@keyframes expand {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.container__show__add__btn {
    font-size: 12px;
    min-width: 50px !important;
    font-weight: 600;
    padding: 8px 12px 8px 12px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    border: 0px rgba(0, 0, 0, 0.5) solid;
    cursor: pointer;
}

.container__show__add__btn:hover {
    background-color: rgb(199, 199, 199);
}

.container__show__add h1 {
    padding-top: 6px;
}

.exit-search {
    margin-right: 8px;
    display: none;
}

.container__show__message__box {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
}

.container___input__right {
    display: flex;
    align-items: flex-end;
}

.container__show__find__btn {
    width: 80px;
    min-width: 64px;
    font-size: 12px;
    font-weight: 600;
    padding: 9px 12px 9px 12px;
    background-color: rgb(230, 230, 230);
    border: 0px solid #333;
    border-radius: 4px;
}

.container__show__find__btn:hover {
    background-color: rgb(199, 199, 199);
}




/* phan bang =================================================== */

.container__show__content {
    /* display: flex; */
}

/* CSS cho màn hình máy tính */

.table__show {
    flex: 1;
    border-collapse: collapse;
    /* Gộp các đường viền lại */
    /* margin: 0 4px; */
    width: 100%;
}

.table__show th,
.table__show td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
    font-size: 14px;
}

.table__show th {
    font-weight: 600;
}

.table__show td {
    font-weight: 500;
}

.table__show td:last-child i {
    margin: 0 6px;
}


.scrollable-content {
    height: 402px;
    overflow-y: auto;
}

#cancel__find__msg{
    display: none;
    align-items: center;
    justify-content: center;
    /* background-color: #0866FF; */
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
#cancel__find__msg:hover{
    background-color: #c0c0c0;
}


/* CSS cho màn hình điện thoại */
@media only screen and (max-width: 600px) {

    .table__show th,
    .table__show td {
        padding: 3px;
        font-size: 7px;
    }



    .container__show__head__input__box {
        width: 100%;
        /* height: 32px; */
        max-width: 202px;
    }

    .container___input__left input,
    .container___input__left select,
    .container___input__left button {
        height: 32px;
        margin-top: 4px;
    }

}


/* CSS cho màn hình điện thoại */
@media only screen and (max-width: 400px) {

    .table__show th,
    .table__show td {
        padding: 2px;
        font-size: 4px;
    }
}



.save-btn {
    font-size: 12px;
    font-weight: 550;
    width: 38px;
    height: 38px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.save__box {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move;
    z-index: 2;
}

.save-btn:hover {
    background-color: rgb(199, 199, 199);
}




.error {
    display: none;
}


.show_main_img{
    width: 78px;
    /* height: px; */
}

@media screen and (max-width: 768px) {
    .container__show {
        width: calc(100vw) !important;
    }

    #groupList {
        width: 100%;
        overflow: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }

    #listItem {
        width: max-content;
    }

    .msgr-box-left {
        width: unset;
        width: 100vw;
        width: 100svw;
    }


    .slide-right,
    .sub-middle {
        opacity: 1;
    }

    .first-item {
        display: flex;
    }

    .chatbox {
        width: unset;
        width: 100vw;
    }

}