*{
    line-height: 1.5;
}
.app{
    height: 100vh;
    height: 100svh;
    overflow: hidden;
}
i.fa-solid.fa-caret-up{
    position: absolute;
    top: 85%;
    right: 23px;
    font-size: 30px;
    color: #333;
}

.status__account {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-width: 238px;
    background-color: #333;
    position: absolute;
    top: 110%;
    right: 0;
    padding: 10px 0;
}

.container--chat {
    margin-top: 68px;
    height: calc(100vh - 68px);
    height: calc(100svh - 68px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: white;
}

.chatbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    width: 100svw;
    min-width: 300px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.chatbox__head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-sizing: inherit;
    z-index: 1;
}
.user-about{
    /* max-height: 45px; */
    padding: 5px;
    width: fit-content;
    display: flex;
    align-items: center;
    height: fit-content;
    border-radius: 5px;
    cursor: pointer;
}
.user-about:hover{
    background-color: rgb(245, 245, 245);
}
.user-img{
    height: fit-content;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.message__user__avt{
    width: 45px;
    height: 45px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50%;
    padding: 2px;
    border: 2px #0866FF solid;

}
.user-ifm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 40px;
    max-height: 40px;
}
.chatbox__head__title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.chatbox__head__active {
    display: flex;
    align-items: center;
    height: 14px;
}

.chatbox__head__active::before {
    content: "";
    background-color: #00A400;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    border: 2px white solid;
    position: absolute;
    z-index: 1;
    left: -25px;
    bottom: -3px;
}

.chatbox__head__active__text {
    font-size: 1rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

/* chatbox__message */

.chatbox__message {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* khai báo sử dụng Internet Explorer, Edge */
    scrollbar-width: none;
    /* sử dụng Firefox */
}

.chatbox__message::-webkit-scrollbar {
    display: none;
    /* cho Chrome, Safari, and Opera */
}

.chatbox__message__list {
    display: flex;
    flex-direction: column;
    padding: 13px;
}

.chatbox__message__list:last-child {
    margin-bottom: 20px;
}


.chatbox__message__item:not(:first-child) {
    margin-top: 10px;
}

.chatbox__message__item__text {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 14px;
    font-family: montserrat;
    line-height: 1.5;
    width: max-content;
    max-width: 1000px;
    max-width: 80%;
    padding: 8px 12px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    overflow-wrap: anywhere;
    /* word-break: break-all; */
    font-family: Arial, Helvetica, sans-serif;
}
.chatbox__message__item__left {
    display: flex;
    justify-content: flex-start;
}

.chatbox__message__item__right {
    display: flex;
    justify-content: flex-end;
}

.chatbox__message__item__right span{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(80, 80, 80);
    color: white;
    border: none;
}


/* chatbox__bottom */

.chatbox__bottom {
    display: flex;
    align-items: flex-end;
    height: auto;
    padding-top: 10px;
    margin-bottom: 10px;
}

.chatbox__bottom__link-social {
    display: flex;
    justify-content: center;
    width: 50px;
    align-items: center;
    /* opacity: 0; */
}

a.chatbox__bottom__link-social__mess{
    width: 50px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

a.chatbox__bottom__link-social__mess span{
    color: white;
    display: flex;
    position: absolute;
    bottom: 100px;
    font-family: montserrat;
    font-size: 14px;
    padding: 10px;
    background-color: goldenrod;
    border-radius: 20px;
    left: 10px;
    width: 150px;
}

i.bx.bxs-down-arrow{
    color: goldenrod;
    font-size: 16px;
    position: absolute;
    bottom: 88px;
    left: 40px;
}

.sub{
    /* display: none; */
    position: absolute;
    top: 0px;
    bottom: -31px;
    right: 70px;
}

a.chatbox__bottom__link-social__mess:hover .sub{
    display: block;
}

.messenger_ico{
    height: 33px;
    width: 33px;
}

a.chatbox__bottom__link-social__mess:active .messenger_ico{
    opacity: 0.6;
}

.chatbox__bottom__link-social__mess {
    text-decoration: none;
    cursor: pointer;
    display: flex;
}
.chatbox__bottom__input {
    flex: 1;
    display: flex;
    align-items: flex-end;
    /* height: 50px; */
    /* justify-content: space-between; */
}
.chatbox-select{
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgb(229, 229, 229);
    /* background-color: #0866FF; */
    /* padding: 4px; */
    padding: 8px 6px;
    border-radius: 20px;
    max-height: 322px;
    overflow: hidden;
    
}
.input-scroll::-webkit-scrollbar{
    display: none;
}
.input-scroll{
    overflow-y: scroll;
    display: flex;
    flex: 1;
    max-height: calc(322px - 16px);
}
.input-overflow{
    display: flex;
    flex: 1;
    /* background-color: #00A400; */
    height: auto;
}
#myTextarea {
    resize: none;
    overflow: hidden; /* Ẩn thanh scrollbar */
    font-size: 16px;
}


.chatbox__bottom__input textarea {
    display: flex;
    align-items: center;
    flex: 11;
    min-height: 17px;
    padding: 0 8px;
    /* height: calc(100% - 12px); */
    /* min-height: 40px; */
    /* max-height: 372px; */
    /* margin-right: 10px; */
    font-size: 1.4rem;
    /* color: var(--white-color); */
    /* border-color: rgb(150, 150, 150); */
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    border: unset;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    /* line-height: 1; */
    background-color: transparent;
}
.chatbox__bottom__send{
    height: fit-content;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatbox__bottom__send ion-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: fit-content;
    /* width: 50px; */
    min-height: 33px;
    cursor: pointer;
    color: #999;
}


.chatbox__bottom__send ion-icon:active {
    color: #99999988;
}

@media (max-width: 414px){
    .chatbox__message__item__text{
        /* max-width: 285px; */
        font-size: 15px;
    }
}

@media (max-width: 320px){
    .chatbox__message__item__text{
        /* max-width: 230px; */
        font-size: 14px;
    }
    .sub{
        display: none;
        position: absolute;
        top: 0px;
        bottom: -31px;
        right: 60px;
    }
    a.chatbox__bottom__link-social__mess span{
        color: white;
        display: flex;
        position: absolute;
        bottom: 100px;
        font-family: montserrat;
        font-size: 12px;
        padding: 10px;
        background-color: goldenrod;
        border-radius: 20px;
        left: 10px;
        width: 130px;
    }
    i.bx.bxs-down-arrow{
        color: goldenrod;
        font-size: 16px;
        position: absolute;
        bottom: 88px;
        left: 25px;
    }
}
