input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.modal {
    display: none;
    position: fixed;
    /* top: 68px; */
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.modal__body {
    display: none;
    position: relative;
    width: 100%;
    max-width: 400px;
    z-index: 10;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.modal-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #aaaaaab9;
    /* background-color: #fefefe; */
}


.modal__body__box {
    display: none;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    width: 100%;
    /* max-width: 600px; */
    padding: 40px;
    /* transform: translate(-50%, -55%); */
    background: #fff;
    box-sizing: border-box;
    box-shadow: 10px 10px 80px rgba(0, 0, 0, .1);
    border-radius: 10px;
    gap: 10px;
}

.modal__body__box.login-box form{
    margin-bottom: 10px;
}

.modal__body__box.loader {
    background: transparent;
}

.modal__body__box--admin {
    background-color: #fff;
}


.admin-edit-account {
    width: 600px;
}

.register-cart {
    /* top: calc(100vh - 50% + 40px); */
}

.modal__body__box p:first-child {
    margin: 0 0 40px;
    padding: 0;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    font-weight: 600;
}

.modal__body__box .user-box {
    position: relative;
}

.modal__body__box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
}

#actived-label {
    position: absolute;
    top: -20px;
    left: 0;
    padding: 10px 0;
    font-size: 12px;
    color: #000;
    pointer-events: none;
    transition: .5s;
}

.modal__body__box .user-box label {
    position: absolute;
    top: -7px;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: .5s;
    top: -28px;
}


/* .modal__body__box .user-box input:focus~label,
.modal__body__box .user-box input:valid~label {
    left: 0;
    color: #000;
    font-size: 14px;
} */

.modal__body__box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    overflow: hidden;
    transition: .2s;
    letter-spacing: 3px;
    background-color: #fff;
    border: unset;
    cursor: pointer;
}

.modal__body__box button:hover {
    background: #fff;
    color: #272727;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.modal__body__box button span {
    position: absolute;
    display: block;
}

.modal__body__box button span{
    background-color: rgb(255, 0, 0) !important;
}

.modal__body__box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.modal__body__box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.modal__body__box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.modal__body__box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.modal__body__box p:last-child {
    color: #aaa;
    font-size: 14px;
}

.create__account__text {
    color: #555;
    font-size: 14px;
}


.modal__body__box span.a2 {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal__body__box span.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
}


/* gioitinh */
.box_wrap {
    display: flex;
    margin-bottom: 12px;
}


.radio-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 300px;
    color: white;
}

.radio-container .tyoe_package {
    margin-bottom: 12px;
    font-size: 18px;
}

.radio-wrapper {
    margin-bottom: 12px;
}

.radio-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.radio-button:hover {
    transform: translateY(-2px);
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-checkmark {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 50%;
}

.radio-checkmark:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #333;
    transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked~.radio-checkmark:before {
    transform: translate(-50%, -50%) scale(1);
}

.radio-label {
    font-size: 16px;
    font-weight: 600;
}

/* typegois */
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #030303;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 100%;
    font-size: 14px;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
    font-size: 16px;
    color: #666;
}

.radio-inputs .radio input:checked+.name {
    background-color: #e8e8e8;
    font-weight: 600;
}

#pt-select {
    width: 100%;
    margin-top: 8px;
    padding: 6px 8px;
}

.submit__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#send-code {
    width: 122px;
    height: 32px;
    padding: 8px;
    font-size: 12px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: normal;
    color: #fff;
    background-color: #f2420d;
    margin-left: 17px;
}

.send-code__code {
    display: flex;
    align-items: center;
}

#timeLeft {
    margin-left: 17px;
    font-size: 12px;
    color: coral;
    padding-bottom: 1px;
    width: 32px;
}

/* load  */
@keyframes square-animation {
    0% {
        left: 0;
        top: 0;
    }

    10.5% {
        left: 0;
        top: 0;
    }

    12.5% {
        left: 32px;
        top: 0;
    }

    23% {
        left: 32px;
        top: 0;
    }

    25% {
        left: 64px;
        top: 0;
    }

    35.5% {
        left: 64px;
        top: 0;
    }

    37.5% {
        left: 64px;
        top: 32px;
    }

    48% {
        left: 64px;
        top: 32px;
    }

    50% {
        left: 32px;
        top: 32px;
    }

    60.5% {
        left: 32px;
        top: 32px;
    }

    62.5% {
        left: 32px;
        top: 64px;
    }

    73% {
        left: 32px;
        top: 64px;
    }

    75% {
        left: 0;
        top: 64px;
    }

    85.5% {
        left: 0;
        top: 64px;
    }

    87.5% {
        left: 0;
        top: 32px;
    }

    98% {
        left: 0;
        top: 32px;
    }

    100% {
        left: 0;
        top: 0;
    }
}

.loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
}

.loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
    animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
    animation-delay: -10s;
}

/* form dang ky =====================================*/


.form1 {
    display: none;
    justify-content: center;
    position: fixed;
    /* background-color: green; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    height: auto;
    /* line-height: 1.4; */
    z-index: 1;
}

.registration__traning__schedule {
    width: 90%;
}

.registration__traning__schedule .table {
    width: 100%;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.registration__traning__schedule #training-schedule {
    width: 100%;
}

.row__title__table {
    border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
    margin-bottom: 16px;
    padding-bottom: 10px;
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row__title__table__content {
    font-size: 20px;
    color: #030303;
    font-weight: 700;
}

.x__cancel {
    width: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.x__cancel:hover {
    color: rgba(0, 0, 0, 0.8);
}

.x__cancel:active {
    color: rgba(0, 0, 0, 0.8);
}

.row__final {
    min-height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row__final__button {
    min-height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.row__final__button__grid {
    display: flex;
    justify-content: space-between;
    width: 60%;

}

button.button__form {
    margin: 0 !important;
    padding: 8px 12px !important;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #99999922 !important;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 1);
}

button.button__form:hover {
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button.button__form:active {
    background-color: whitesmoke;
}

#button3 {
    opacity: 0;
}


.training__schedule {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    /* background-color: green; */
}

.table {
    padding: 16px 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display: flex;
    /* width: 32%; */
    min-height: 280px;
    min-width: 290px;
}

div#training-schedule {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* flex: 1 0 auto; */
    /* background-color: bisque; */
}

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 40px;
    /* gap: 10px; */
}

.row__img {
    display: flex;
    flex-direction: column;
}

.row__note {
    display: flex;
    justify-content: center;
    color: chocolate;
    font-size: 14px;
    margin: 10px 0 0;
}

.row__title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: fit-content;
    width: 100%;
    line-height: 18px;
    font-size: 18px;
    color: #000;
    font-weight: lighter;
}

.row__content {
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    /* background-color: #eee; */
    /* border: 1px solid #99999922; */
    /* border-radius: 8px; */
    overflow: hidden;
}

.row__content__picture{
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
}

.row__content img{
    width: 72px;
}
.row__content__col{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
}
.row__content__col label{
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.row-content-wrapper{
    width: 100%;
    display: flex;
    padding: 10px 0 10px 10px;
    align-items: center;
    justify-content: space-between;
}
.row-content-wrapper div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}
.row__content__flex {
    display: inline-flex;
}

.row__content--type {
    justify-content: flex-start;
}

.row__content--type div {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.row__content__input {
    outline: none;
    border: 0;
    color: #000;
    flex: 1;
    font-size: 18px;
    /* max-width: 200px; */
    width: 100%;
    background-color: transparent;
    padding: 10px;
    /* padding: 10px 10px 8px 10px; */
}
.row__content__input::placeholder{
    color: #99999955;
}

.row__edit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 12px;
}

.row__remove {
    display: flex;
    margin-top: 12px;
    flex-direction: row;
}

.row__content__edit {
    display: flex;
    align-items: center;
    /* flex: 1; */
    width: 100%;
    font-size: 16px;
}

/* .row__content__edit input, */
.row__content__edit span {
    width: 50%;
    max-width: none;
}

.row__content__edit i {
    padding: 0 8px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0);
}

/* .row__title{

    color: ;
} */
.admin-add-account {
    background-color: #fff;
    z-index: 30;
    padding: 22px;
}

.form2 {
    /* padding: 14px; */
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-add-account .registration__traning__schedule {
    width: 100%;
    color: #030303;
}




.modal__body--admin {
    max-width: 600px;
}