.container{
    background-image: url(../img/background/Black\ and\ Red\ Simple\ Fitness\ Zoom\ Workout\ Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(100vh - 68px);
}

.container__box{
    display: flex;
    background-color: rgba(20, 20, 20, 0.94);
}
.container__bar{
    display: flex;
    flex-direction: column;
    flex: 2.4;
    min-height: calc(100vh - 68px);
    background-color: #fff;
    padding: 0 8px;
}
.container__bar__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container__bar__item{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: #eef2f0;
    color: #333;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #333;
    border-radius: 4px;
    margin-top: 8px;
}

/* height: 46px; */
.container__bar__item:last-child{
    margin-bottom: 40px;
}

.container__bar__item--active{
    border-right: 4px solid rgb(22, 110, 252);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.container__bar__item i{
    margin-right: 12px;
}

.container__bar__item__text{
    text-align: center;
    justify-content: center;
    padding-top: 2px;
}

.container__bar__item--avt{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.container__bar__item__avt{
    width:  80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #333;
}

.container__bar__item__name{
    font-size: 14px;
    margin: 6px 0;
}

.container__bar__logout{
    flex: 1;
    display: flex;
    align-items: flex-end;
}



/* container__show */
.container__show{
    flex: 12;
}
/* container__show__head */
.container__show{
    /* display: none; */
}

.container__show__add{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.container__show__add button{
    margin-left: 12px;
    height: 32px;
    font-size: 14px;
    padding: 0 6px;
    background-color: #f88900;
}
.container__show__add button:hover{
    background-color: rgb(229, 127, 1);
    cursor: pointer;
}


.container__show__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
}

.container__show__head__input__box{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 280px;
}

.show__find__id__box{
    position: absolute;
    top: calc(100% + 4px);
    left: 6px;
    width: 100%;
    z-index: 10;
}

.show__find_id{

    height: 34px;  
    display: flex;
    align-items: center;
    background-color: #fff;
    font-size: 14px;
    padding: 8px 6px 6px;
    width: calc(100% - 6px);
    color: #666;
    border-left: 2px solid #ff1010;
    border-bottom: 3px solid #ff1010; 
}

.show__input__id{
    height: 34px;
    font-size: 16px;
    width: 100%;
    padding: 8px 6px 6px;
    margin-right: 12px;
    outline: none;
    border: 0px;
}

.show__input__package{
    height: 34px;
    font-size: 16px;
    margin-right: 12px;

}
.show__input__date{
    height: 34px;
    font-size: 16px;
    padding: 8px 6px 6px;

    margin-right: 12px;
}

.head-end{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.container__show__find__btn{
    display: block;
    width: 90px;
    height: 34px;
    font-size: 16px;
    padding: 4px 0 2px;
}

.container__show__content{
    padding: 0px 6px;
    position: relative;
}

.table__show{
    /* position: relative;
    top: 0; */
    /* z-index: -1; */
    border-collapse: collapse;
    width: 100%;
    
    table-layout: fixed;
}

.tr__show{
    height: 32px;
}
.th__show:nth-child(1){
    width: 110px;
}
.tr__show .th__show:last-child{
    width: 100px;
}
/* .th__show:nth-child(3){
    width: 52px;
} */

.th__show{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding: 8px 4px;
}
.td__show{ 
    font-size: 16px;
    height: 32px;
    
  /* white-space: nowrap; */
}

.td__show i{
    margin: 0 6px;
    cursor: pointer;
}
.td__show i:hover{
    color: #9e9e9e;
}

.table__show, .th__show, .td__show {
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
}

.trEdit{
    background-color: #333;
}

.remove-icon{
    display: flex;
    justify-content: flex-end;
    margin: 0px 20px 16px 0;
    font-size: 18px;
}
.remove-icon:hover{
    cursor: pointer;
    color: #c4c4c4;
}

.inputAdd{
    display: flex;
    text-align: center;
    width: 100%;
    height: 32px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
}
.inputAdd::placeholder {
    color: white;
}


.save__box{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}
.save__box span{
    font-size: 14px;
    color: rgb(243, 232, 31);
    margin-right: 22px;
}
.save-btn{
    font-size: 14px;
    margin-top: 12px;
    margin-right: 18px;
    padding: 4px 0 2px;
}


