*{
    font-family: montserrat;
    /* overflow: hidden; */
}
.footer{
    overflow: hidden;
}
.container{ 
    height: auto;
    width: 100%;
    margin-top: 68px;
    display: flex;
    justify-content: center;
    /* background-color: rgba(70, 70, 70, 0.1); */
}
.container__inner{
    height: auto;
    max-width: 1200px;
    width: 95%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.container__inner__select{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first__table{
    width: 95%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    font-size: 14px;
}
.table{
    width: 95%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    font-size: 14px;
}
.page__header{
    width: 95%;
    min-height: 90px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
}
.page__header.title{
    width: 80%;
    line-height: 1.4;
    /* background-color: rgb(255, 180, 88); */
}
.page__header.title h1{
    font-weight: 600;
}
.night__mode{
    width: 10%;
    display: flex;
    justify-content: flex-end;
    min-height: 90px;
}

button.night__mode__button{
    min-height: 28px;
    min-width: 28px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: whitesmoke;
    cursor: pointer;
}
i.bx.bxs-moon{
    font-size: 14px;
}
button.night__mode__button:hover{
    background-color: #999;
    color: white;
}
button.night__mode__button:active{
    background-color: #999;
    color: white;
}





.border__top{
    border-top: 1px rgba(0, 0, 0, 0.05) solid;
}
.rows{
    min-height: 30px;
    display: flex;
    width: 100%;
}
.information__card{
    width: 100%;
    min-height: 300px;
    /* max-height: 350px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    /* background-color: antiquewhite; */
    border-radius: 10px;
}
.information__card.first__part{
    /* background-color: green; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-right: 10px;
    border-radius: 0;
    border-right: 1px rgba(0, 0, 0, 0.05) solid;
}
.first__part.first__part__image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.card{
    max-height: 300px;
    max-width: 385.7px;
    width: 100%;
}




.information__card.the__second__part{
    /* background-color: goldenrod; */
    width: 40%;
    padding: 0;
    padding: 15px 0;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
}
.the__second__part.the__second__part__group{
    width: 100%;
    min-height: 300px;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
#card{
    /* background-color: gold; */
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 1.4;
}
#information__card__title{
    width: 60%;
    margin-left: 15px;
}
#information__card__content{
    width: 40%;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.5);
}
a.card__type__content.card__type__content__link{
    color: rgba(0, 0, 0, 0.6);
}
a.card__type__content.card__type__content__link:active{
    color: goldenrod;
}




.rows.rules{
    width: 100%;
    display: flex;
    align-items: center;
}
.rules.rules__group{
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 0 15px;
}
.rules__group.rules__group__title{
    display: flex;
    align-items: center;
    min-height: 40px;
}
a.rules__group__title.rules__group__title__content{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    min-height: 40px;
    cursor: pointer;
}
a.rules__group__title.rules__group__title__content:hover{
    color: goldenrod;
}
a.rules__group__title.rules__group__title__content:active{
    color: goldenrod;
}
.rules__group__content{
    display: none;
    justify-content: center;
    position: fixed;
    /* background-color: green; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    height: auto;
    line-height: 1.4;
    z-index: 1;
}
ul.group__rules{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
li.group__rules__title{
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: goldenrod; */
    border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
    font-size: 16px;
}
li.group__rules.title__and__content{
    /* margin-top: 15px; */
    padding: 15px;
    color: rgba(0, 0, 0, 0.5);
    text-align: justify;
}
span.group__rules.title__content{
    margin-left: 10px;
    margin-right: 2px;
    color: black;
}
li.group__rules.button__hide{
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px rgba(0, 0, 0, 0.05) solid;
}
button.button__hide.button__hide__terms__of__use{
    background-color: white;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    padding: 5px 15px;
    color: rgba(0, 0, 0, 0.5);
}
button.button__hide.button__hide__terms__of__use:hover{
    color: black;
    border: 1px black solid;
}
button.button__hide.button__hide__terms__of__use:active{
    background: whitesmoke;
}





@media (max-width: 800px){
    .information__card{
        flex-direction: column;
        min-height: fit-content;
    }
    .information__card.first__part{
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
    }
    .first__part.first__part__image{
        margin-bottom: 20px;
    }
    img.card{
        max-height: 672px;
        max-width: 972px;
        /* width: 200%; */
    }
    .information__card.the__second__part{
        width: 100%;
        padding: 0;
    }
    #information__card__title{
        margin: 0;
    }
}
@media (max-width: 320px){
    .rules__group__content{
        margin-top: 35px;
    }
    li.group__rules.title__and__content{
        padding: 0 15px;
    }
    li.group__rules.button__hide{
        min-height: 50px;
    }
}