*{
    font-family: montserrat;
    /* overflow: hidden; */
}
.header{
    background-color: rgb(255, 255, 255);
    height: 68px;
    border-bottom: 1px rgb(0, 0, 0, 0.3) solid;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.header__inner__logo h1,
.header__inner__navigation a{
    color: black;
}
.header__inner__menu__bt i{
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
    color: black;
}
.dropdown .containt{
    background-color: rgb(255, 255, 255);
    box-shadow: none;
}
.containt a:hover{
    background-color: transparent;
}
.footer,
.footer__last{
    overflow: hidden;
    /* background: transparent; */
}
.video__title{
    margin-top: 68px;
    height: calc(100vh - 68px);
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: grey;
}
.video__title__inner{
    height: calc(100vh - 68px);
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-image: url(../img/background/bgr_pro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    position: relative;
}
video{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    object-fit: cover;
}
.shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 20em 20em rgb(0, 0, 0, 0.6);
    z-index: 1;
}
.title{
    position: absolute;
    top: 4rem;
    left: 1rem;
    z-index: 2;
    text-transform: uppercase;
    /* font-family: Trebuchet MS,Lucida Sans Unicode,Lucida Grande,Lucida Sans,Arial,sans-serif; */
    font-family: Raleway;
    font-size: 11rem;
    line-height: 11rem;
    font-weight: 700;
    color: white;
    /* max-width: 90%; */
    margin: 0;
    margin-right: 30px;
}

.container{

    overflow: hidden;

    /* height: calc(100vh - 68px); */
    background-image: url(../img/background/c.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container__select{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin-top: 50px;
}
#colum-father{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.container__select__colum__one{
    width: 50%;
    min-height: 650px;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.container__select__colum__one h1{
    font-size: 36px;
    font-weight: 600;
    color: rgb(180, 0, 0);
    letter-spacing: 6.3px;
    font-style: italic;
}
.container__select__colum__one h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.container__select__colum__one p{
    font-size: 18px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;
}

.container__select__colum__two{
    display: flex;
    /* max-width: 50%; */
}
.row{
    display: flex;
    box-sizing: inherit;
    padding: 15px;
}
.row img{
    width: 100%;
    height: 100%;
}
#colum{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3333333%;
    padding: 10px;
    position: relative;
}
.box__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    box-sizing: inherit;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.box__container .overlayimg{
    width: 100%;
    position: relative;
}
.title__bar{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.47);
    box-shadow: 0 0 60px 50px rgba(0, 0, 0, 0.5);
    z-index: 1;
    box-sizing: inherit;
}
.title__bar a{
    border-radius: 50px;
    border: 1px white solid;
    padding: 8px 10px 8px 8px;
    font-size: 11px;
    font-style: italic;
    color: white;
    text-transform: uppercase;
    animation: color_fade_out 0.3s ease-in-out forwards;
}
.title__bar a:hover{
    background-color: rgb(200, 0, 0);
    border-color: rgb(180, 0, 0);
    animation: color_fade_in 0.3s ease-in-out forwards;
}

@keyframes color_fade_in{
    0%{
        background-color: transparent;
        border-color: white;
    }
    100%{
        background-color: rgb(200, 0, 0);
        border-color: rgb(180, 0, 0);
    }
}
@keyframes color_fade_out{
    0%{
        background-color: rgb(200, 0, 0);
        border-color: rgb(180, 0, 0);
    }
    100%{
        background-color: transparent;
        border-color: white;
    }
}
.gap{
    min-height: 20px;
}
.photo__gap{
    width: 100%;
    height: 100px;
}


.container2{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(/img/background/gadient2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    overflow: hidden;
}
.container2__select{
    display: flex;
    justify-content: center;
    width: 98%;
}
.cheer{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 100px;
}
.cheer__colum__one{
    width: 40%;
}
.cheer__colum__one__content{
    padding: 5%;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title__colum__one{
    font-size: 36px;
    color: rgb(170, 0, 0);
    text-transform: uppercase;
    font-weight: 600; 
    font-style: italic;
}
.cheer__colum__one h3{
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.cheer__button{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button1{
    cursor: pointer;
    padding: 12px 16px 12px 12px;
    font-size: 14px;
    border-radius: 50px;
    border: 1px rgb(255, 255, 255) solid;
    background-color: transparent;
    text-transform: uppercase;
    font-style: italic;
    color: rgb(255, 255, 255);
    animation: color_fade_out_cheer 0.3s ease-in-out forwards;
}
#button1:hover{
    border: 1px rgb(190, 0, 0) solid;
    background-color: rgb(200, 0, 0);
    color: rgb(255, 255, 255);
    animation: color_fade_in_cheer 0.3s ease-in-out forwards;
}

@keyframes color_fade_in_cheer{
    0%{
        border: 1px rgb(255, 255, 255) solid;
        background-color: transparent;
        background-color: transparent;
        color: rgb(255, 255, 255);

    }
    100%{
        border: 1px rgb(190, 0, 0) solid;
        background-color: rgb(200, 0, 0);
        color: white;
    }
}
@keyframes color_fade_out_cheer{
    0%{
        border: 1px rgb(190, 0, 0) solid;
        background-color: rgb(200, 0, 0);
        color: white;
    }
    100%{
        border: 1px rgb(255, 255, 255) solid;
        background-color: transparent;
        background-color: transparent;
        color: rgb(255, 255, 255);

    }
}

.cheer__colum__two{
    width: 60%;
}
.cheer__img{
    display: flex;
    width: 100%;
    height: 100%;
}
.cheer__img img{
    height: 100%;
    max-width: 100%;
}
.form{
    max-width: 800px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    z-index: 999;
}
.form__select{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form ul{
    max-width: 400px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 100px 1000px rgb(0, 0, 0, 0.6);
}
.form li{
    height: 80px;
    width: 100%;
    padding: 0 36px;
}
.input__content{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.title__form{
    padding: 26px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px rgb(0, 0, 0, 0.05) solid;
    margin-bottom: 10px;
}
.title__form h1{
    font-size: 16px;
    font-weight: 600;
    color: black;
    font-style: normal;
    text-transform: none;
    margin-right: 10px;
}
.cancel{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    color: rgb(0, 0, 0, 0.3);
}
.cancel:hover{
    color: rgb(0, 0, 0);
}
.title__bar__input{
    font-size: 14px;
    color: rgb(0, 0, 0, 0.6);
    margin-left: 10px;
}
.input__content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.input__bar{
    font-size: 14px;
    height: 30px;
}
.input__bar input{
    border: none;
    /* border: 1px black solid; */
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    width: 100%;
    height: 30px;
    padding-left: 10px;
    outline: none;
    border-radius: 20px;
}
.button__send{
    display: flex;
    align-items: center;
    justify-content: center;
}
#button2{
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    background-color: white;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.3);
}
#button2:hover{
    color: rgb(0, 0, 0, 0.6);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}
#button2:active{
    background-color: whitesmoke;
}
@media screen and (max-width:1200px) {
    .title{
        top: 4rem;
        font-size: 10rem;
        line-height: 10rem;
    }
    .container__select{
        flex-direction: column;
    }
    
    .container__select__colum__one{
        padding: 16px;
    }
    #colum-father{
        width: 100%;
    }
    .row{
        width: 100%;
    }
    .title__bar a{
        font-size: 16px;
        padding: 16px 20px;
    }
}
@media screen and (max-width:1100px) {
    .title{
        top: 4rem;
        font-size: 9rem;
        line-height: 9rem;
    }
}
@media screen and (max-width:990px) {
    .title{
        top: 4rem;
        font-size: 8rem;
        line-height: 8rem;
    }
    .title__bar a{
        padding: 8px 10px 8px 8px;
        font-size: 11px;
    }
    .cheer__colum__one h3{
        font-size: 16px;
    }
}
@media screen and (max-width:890px) {
    .title{
        top: 3rem;
        font-size: 7rem;
        line-height: 7rem;
    }
    .title__colum__one{
        font-size: 26px;
    }
    .cheer__colum__one h3{
        font-size: 16px;
    }
    #button1{
        font-size: 12px;
    }
}
@media screen and (max-width:790px) {
    .title{
        top: 3rem;
        font-size: 6rem;
        line-height: 6rem;
    }
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #colum{
        flex-direction: row;
        width: 100%;
        padding: 0;
    }
    .gap,
    .photo__gap{
        display: none;
    }
    .box__container{
        margin: 10px;
        height: -webkit-fill-available;
    }
    .cheer{
        flex-direction: column;
    }
    .cheer__colum__one{
        width: 100%;
    }
    .cheer__colum__two{
        width: 100%;
    }
}
@media screen and (max-width:680px) {
    .title{
        top: 3rem;
        font-size: 5rem;
        line-height: 5rem;
    }
}
@media screen and (max-width:580px) {
    .title{
        top: 3rem;
        font-size: 4.5rem;
        line-height: 5rem;
    }
}
@media screen and (max-width:530px) {
    .title{
        top: 3rem;
        font-size: 4rem;
        line-height: 5rem;
    }
    .container__select__colum__one{
        padding: 16px;
    }
    .container__select__colum__one h1{
        font-size: 26px;
        letter-spacing: 5px;
    }
    .container__select__colum__one h3{
        font-size: 16px;
    }
    .container__select__colum__one p{
        font-size: 16px;
    }
    #colum{
        flex-direction: column;
    }
}
@media screen and (max-width:480px) {
    .title{
        top: 2.5rem;
        font-size: 3rem;
        line-height: 4rem;
    }
}
@media screen and (max-width:370px) {
    .title{
        top: 2.5rem;
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .container__select__colum__one{
        padding: 16px;
    }
    .container__select__colum__one h1{
        font-size: 26px;
        letter-spacing: 3px;
    }
    .container__select__colum__one h3{
        font-size: 16px;
    }
    .container__select__colum__one p{
        font-size: 16px;
    }
}